*{
	
	
	
}

body{
	
	background-image: url("../imgs/blurred-background.jpg");
	
	/* Parallax effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

.break{
	
	
	
}

.dish-container-div{
	
	margin: auto;
	width: 1100px;
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content:space-around;
	
}

.dish-container{
	
	border-bottom: 1px solid;
	margin: 5px 5px 5px 5px;
	padding: 10px;
	height: 300px;
	width: 330px;
	
}

.dish-name{	

	width:50%;
	font-size:22px;
	
}

.chili{
	margin-bottom: 1%;
	margin-left: -3px;
}

.dish-desc{
	
	width:68%;
	word-wrap:break-word;
	font-size:13px;
	float:left;
	
}

.dish-price{
	margin-left: 5px;
	font-size:2em;
	float:right;
	width:30%;
}

.dish-image{
	
	width: 90%;
	height: 70%;
	
}

#menu-category{
	
	background-color: #FFF;
	margin: auto;
	width: 1100px;
	border-bottom: 1px solid;
	height: 300px;
	
}

#menu-category p{
	
	text-align: center;
	
}

#menu-category h1{
	
	font-size: 3em;
	text-align: center;
	
	
}
